.container {
  &__form {
    margin: 10px 30% 0 30%;
  }
  &__title {
    position: relative;
    margin: 10px;
  }
  &__description {
    position: relative;
    margin: 10px;
  }
  &__image {
    position: relative;
    margin: 10px;
  }
  &__error{
      position: relative;
      top: 50px;
      font-size: 30px;
      color: firebrick;
  }
}
